body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

//COLORS//
    //TXT-COLORS//
.txt-white{
    color: white;
}
.txt-bronze{
    color: #ab7442;
}
.txt-dark{
    color: #303030;
}
.txt-black{
    color: black;
}
.txt-grey{
    color: #f5f5f5;
}

    //BACKGROUND-COLORS//
.bg-bronze{
    background-color: #ab7442;
}
.bg-grey{
    background-color: #f5f5f5;
}
.bg-dark{
    background-color: #303030;
}
.bg-white{
    background-color: white;
}

//FONTS//
    //BIG//
.fs-header{
    font-size: ;
}
.fs-title{
    font-size: ;
}
.fs-bignumber{
    font-size: 
}

    //TALL//
.fs-subtitles{
    font-size: ;
}
.fs-txt{
    font-size: ;
}
.fs-infobar{
    font-size: ;
}
.fs-lilnumber{
    font-size: ;
}