body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

//COLORS//
    //TXT-COLORS//
.txt-white{
    color: white;
}
.txt-bronze{
    color: #ab7442;
}
.txt-dark{
    color: #303030c6;
}
.txt-black{
    color: rgba(0, 0, 0, 0.781);
}
.txt-grey{
    color: #f5f5f5;
}

    //BACKGROUND-COLORS//
.bg-bronze{
    background-color: #ab7442;
}
.bg-grey{
    background-color: #f5f5f5;
}
.bg-dark{
    background-color: #303030;
}
.bg-white{
    background-color: white;
}

//FONTS//
    //BIG//
.fs-header{
    font-size: 40px;
}
.fs-title{
    font-size: 32px;
    letter-spacing: -1.2px;
    font-weight: bold;
}
.fs-bignumber{
    font-size:  52px;
}
.fs-subtitles-l{
    font-size: 13px;
}

    //TALL//
.fs-subtitles-s{
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: bold;
}
.fs-subtitles-s5{
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: bold;
}
.fs-subtitles-s3{
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: bold;
}
.fs-txt{
    font-size: 11px;
}
.fs-txt-header{
    font-size: 12px;
}
.fs-infobar{
    font-size: 10px;
}
.fs-lilnumber{
    font-size: 22px;
}
.fs-molen{
    font-size: 20px;
}
.fs-nav{
    font-size: 10.5px;
    color: rgba(0, 0, 0, 0.667);
    font-weight: 600;
    letter-spacing: 0px;
}
.fs-nav:hover{
    color: #ab7442;
}
.fs-nav-white{
    font-size: 11px;
    color: white;
    font-weight: 600;
    letter-spacing: 0px;
}
