footer{
    width: 100%;
    height: 280px;
    border: 1px solid green;
    background-image: url("../../../public/img/footer.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.container-footer{
    height: 80%;
    width: 69%;
    border: 1px solid white;
}

.footer-up-part{
    
}
.footer-down-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-underline{
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}