.navbar{
    width: 100%;
    height: 50px;
    padding-left: 2.5%;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid green;
}
.container-btn-nav{
    display: flex;
    height: 100%;
}
.btn-nav{
    height: 100%;
    width: fit-content;
    padding-left: 0px;
    padding-right: 17px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 0;
}
.dropdown-toggle::after {
    display:none;
}
.contact-btn{
    display: flex;
}
.down-arrow-nav{
    margin-left: 4px;
    padding-bottom: 1px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.667);
}
.down-arrow-nav:hover{
    color: #ab7442;
}
.quote-flex{
    display: flex;
}
.btn-bronze-nav{
    height: 100%;
    width:135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    font-size: 14px;
    padding-top: 1px;
    margin-left: 10px;
}
.dropdown-menu{
    border-radius: 0;
}

//RESPONSIVE
//MOBLIE M
@media screen and (max-width: 376px){
    .navbar{
        width:100%;
        height: fit-content;
        padding-left: 0;
    }
    .container-btn-nav{
        flex-direction: column;
        height: 100%;
        width: 50%;
    }
    .molengeek{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    .btn-nav{
        width: 100%;
        padding-right: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ab7442;
    }
    .btn-bronze-nav{
        width: 100%;
        padding-right: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fs-molen{
        font-size: 25px;
        position: relative;
    }
    .rectangle-molen{
        position: absolute;
        z-index: -1;
        border: 1.4px solid #ab754268;
        width: 59px;
        left: 26.8%;
        height: 70px;
    }
    .fs-nav{
        font-size: 12px;
    }
    
}