.section1-quatre{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-quatre{
    display: flex;
    height:40%;
    width: 67.5%;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

.box-sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}
.box-inf{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height:30%;
}
.fontawesome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 21px;
}
.box-quatre{
    height: 100%;
    width: 25%;    
}

//RESPONSIVE
//MOBLIE M
@media screen and (max-width: 376px){
    .section1-quatre{
        width: 100%;
        flex-direction: column;
        height:fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container-quatre{
        flex-direction: column;
        height: fit-content;
        gap: 0px;
    }
    .box-quatre{
        width: 100%;
    }
    .txt-changement{
        color: white;
        padding-left: 2px;
    }
    .box-sup{
        padding-left: 3px;
    }
    .box-inf{
        background-color: #ab7442;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media screen and (min-width: 376px) and (max-width:426px) {
    .section1-quatre{
        width: 100%;
        flex-direction: column;
        height:fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container-quatre{
        flex-direction: column;
        height: fit-content;
        gap: 0px;
    }
    .box-quatre{
        width: 100%;
    }
    .txt-changement{
        color: white;
        padding-left: 2px;
    }
    .box-sup{
        padding-left: 3px;
    }
    .box-inf{
        background-color: #ab7442;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
    .section1-quatre{
        width: 100%;
        flex-direction: column;
        height:fit-content;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .container-quatre{
        flex-direction: column;
        height: fit-content;
        gap: 0px;
        width: 55%;
    }
    .box-quatre{
        width: 100%;
    }
    .txt-changement{
        color: white;
        padding-left: 2px;
    }
    .box-sup{
        padding-left: 3px;
    }
    .box-inf{
        background-color: #ab7442;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}